apiVersion: apps/v1
kind: Deployment
metadata:
  name: chatapp-backend1
  labels:
    app: chatapp-backend1
spec:
  selector:
    matchLabels:
      app: chatapp-backend1
  replicas: 1
  minReadySeconds: 15
  strategy:
    type: RollingUpdate
    rollingUpdate: 
      maxUnavailable: 1
      maxSurge: 1 
  template:
    metadata:
      labels:
        app: chatapp-backend1
    spec:
      containers:
      - image: shariullas/chat-app:api-v2
        imagePullPolicy: IfNotPresent
        name: chatapp-backend1
        args:
          - '/bin/chat-app'
        env:
          - name: CHATAPP_DB_USER_NAME
            value: "chatapp"
          - name: CHATAPP_DB_PASSWORD
            value: "chatapp"
          - name: CHATAPP_DB_HOST
            value: "postgres"
          - name: CHATAPP_DB_PORT
            value: "5432"
          - name: CHATAPP_DB_NAME
            value: "chatapp_dev"
        ports:
          - containerPort: 3000
